# Example of .env containing all necessary environment variables to run this app
EMBEDDING_PROVIDER=mock

OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_DIMENSION=

HUGGINGFACE_MODEL=intfloat/multilingual-e5-base

MOCK_DIMENSION=768

DATABASE_URL=
